/* responsive media query start */
@media (max-width: 1300px) {
    .home .max-width{
        margin-left: 0px;
    }
}

@media (max-width: 1104px) {
    .getting .getting-content .left img {
        height: 350px;
        width: 350px;
    }

    .home {
        padding: 0 30px;
    }

    .home .home-content .text-1  {
        font-size: 60px;
        font-weight: 400;
        margin-left: -3px;
    }

    .subscribe .column .img {
        width: 200px;
    }
}

@media (max-width: 991px) {
    .max-width {
        padding: 0 50px;
    }

    .navbar.sticky {
        z-index: 999;
    }

    .home {
        padding: 0px 30px;
    }

    .home .home-content .text-1 {
        font-size: 50px;
        font-weight: 400;
        margin-left: -3px;
    }
    
    .home .home-content .text-2 {
        margin-top: 20px;
        font-size: 25px;
        display: flex;
    }
    
    .home .home-content .text-2 span {
        padding-top: 5px;
        margin-left: 20px;
    }

    .subscribe .column img {
        width: 200px;
    }
}

@media (max-width: 947px) {
    .menu-btn {
        display: block;
        z-index: 999;
    }

    .menu-btn i.active:before {
        content: "\f00d";
    }

    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: var(--lightblue-color);
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }

    .navbar .menu.active {
        left: 0;
    }

    .navbar .menu li {
        display: block;
    }

    .navbar .menu li a {
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }

    .home {
        display: flex;
        color: var(--black-color);
        min-height: 500px;
        background-color: rgba(19, 106, 141, 0.1);
        font-family: 'Ubuntu', sans-serif;
    }

    .home .home-content .text-1  {
        font-size: 40px;
        font-weight: 400;
        margin-left: -3px;
    }

    .home .home-content .text-2 {
        font-size: 20px;
    }

    .home .home-content a {
        font-size: 23px;
        padding: 10px 30px;
    }

    .home-img img {
        width: 100px;
        margin: 20px 50px;
    }

    .max-width {
        max-width: 930px;
    }

    .getting .getting-content .column {
        width: 100%;
    }

    .getting .getting-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }

    .getting .getting-content .right {
        flex: 100%;
    }

    .featured .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
        z-index: 1;
    }

    .skills .skills-content .column,
    .subscribe .subscribe-content .column {
        width: 100%;
        margin-bottom: 35px;
    }

    .subscribe .column .img {
        width: 100px;
    }

}

@media (max-width: 690px) {
    .max-width {
        padding: 0 23px;
    }

    .home .home-content .text-1 {
        font-size: 50px;
        font-weight: 400;
        margin-left: -3px;
    }

    .home .home-content .text-2 {
        font-size: 30px;
    }

    .home .home-content .text-3 {
        font-size: 32px;
    }

    .home .home-content a {
        font-size: 30px;
    }

    .home-img img {
        width: 100px;
        padding-top: 70px;
    }

    .featured .serv-content .card {
        width: 100%;
        z-index: 1;
    }

}

@media (max-width: 500px) {
    .home .home-content .text-1 {
        display: none;
    }

    .home .home-content img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: salmon;
    }

    .home .home-content .text-2 {
        font-size: 40px;
        padding: 0;
    }

    .home .home-content a {
        font-size: 30px;
    }

    .home-img img {
        position: absolute;
        width: 200px;
        top: 40px;
        right: 40px;
    }

    .getting .getting-content .right .text,
    .skills .skills-content .left .text {
        font-size: 19px;
    }

    .subscribe .right form .fields {
        flex-direction: column;
    }

    .subscribe .right form .name,
    .subscribe .right form .email {
        margin: 0;
    }

    .scroll-up-btn {
        right: 15px;
        bottom: 15px;
        height: 38px;
        width: 35px;
        font-size: 23px;
        line-height: 38px;
    }
}

@media (max-width: 414px) {
    .home-img img {
        position: absolute;
        width: 150px;
        top: 30px;
        right: 50px;
    }
}

@media (max-width: 320px) {
    .home .home-content .text-1 {
        display: none;
    }

    .home .home-content img {
        width: 50px;
        height: 50px;
        border-radius: 100px;
        background-color: salmon;
    }

    .home .home-content .text-2 {
        font-size: 30px;
        padding: 0;
    }

    .home .home-content a {
        font-size: 0px;
    }
    
    .home-img img {
        position: absolute;
        width: 100px;
        top: 30px;
        right: 50px;
    }
}


